body {
	height: 100%;
	text-align: center;
	background-color: #f9f9f9;
}

#header{
	text-align: center;
}

#section {
	padding-bottom:50px;
	height:70%;
}

#footer {
	color: #a9a9a9;
	clear: both;
	text-align: center;
	
}

#tones {
	font-size: 30px;
	font-family: "Tahoma";
	color: #FF4719;
}

#myCanvas
{
	border: 3px solid #c3c3c3;
	text-align: center;

}

#title
{
	color: #2EB8B8;
	font-size: 80px;
	font-family: "Impact", Gadget, sans-serif;
}

.text-default
{
	color: #a9a9a9;
	padding-bottom: 20px;
	margin: 10px;
	margin-bottom: 
}

#about
{
	color: #a9a9a9;
	font-size: 18px;
	font-family: sans-serif;
}

#Freq{
	font-size: 30px;
	color: #a9a9a9;
	font-family: sans-serif;

}

hr.default {
	width: 60%; 
	border: 2px solid #c3c3c3;
	margin-top: 50px;
}

#currFreq {
	color: #a9a9a9;
	font-size: 18px;
	font-family: sans-serif;
}